/* Footer.module.css */
.footer {
    background-color: rgb(40, 90, 67);
    height: 374px;
    margin-top: 120px;
    padding-top: 75px;
    position: relative;
    z-index: 1; /* Явно задаем низкий приоритет слоя */
}

.divFooter {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.divFooterContacts {
    font-size: 32px;
    color: white;
    font-weight: 700;
    text-align: center;
}

.divFooterIcons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerIcon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 50px;
    height: 57px;
    width: 57px;
    margin: 36px;
}

.imgFooterIcon {
    height: 32px;
    width: 32px;
}

.ulFooter {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 60px;
    color: white;
    list-style: none;
}

.divFooterLi {
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 700;
}

.aUlFooter {
    color: white;
    text-decoration: none;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 39px;
    width: 100%;
    background-color: black;
    line-height: 150%;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    bottom: 0;
    left: 0;
}

@media (max-width: 1280px) {
    .footer { margin-top: 100px; padding-top: 60px; }
    .divFooter { height: 70%; }
    .divFooterContacts { font-size: 28px; font-weight: 600; }
    .footerIcon { height: 50px; width: 50px; }
    .copyright { height: 35px; font-size: 14px; }
}

@media (max-width: 880px) {
    .footer { margin-top: 250px; padding-top: 60px; z-index: 0; }
}

@media (max-width: 680px) {
    .footer { margin-top: 250px; padding-top: 60px; z-index: 0; }
    .ulFooter { display: grid; grid-template-columns: auto auto auto; gap: 15%; }
    .divFooterLi { padding: 2px 0; }
}

@media (max-width: 500px) {
    .copyright { font-size: 10px; }
    .footer { margin-top: 10%; }
}

@media (max-width: 380px) {
    .footer { margin-top: 10%; }
}
