.header {
    justify-content: space-between;
    align-items: center;
    height: 105px;
    display: flex;
    width: 100%;
    position: absolute;
}
.header-gradient{
    justify-content: space-between;
    align-items: center;
    height: 105px;
    display: flex;
    width: 100%;
    background-image: linear-gradient(#869991, #8da299);
}
.logo {
    margin-left: 5%;
}

nav {
    display: flex;
    margin-right: 5%;
}

.nav-list {
    align-items: center;
    display: flex;
    gap: 51px;
}

.nav-list-item {
    list-style: none;
    color: white;
    cursor: pointer;
}

.contact-nav-list-item {
    list-style: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
}

.a-nav-list-item {
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
}

.separated-a-nav-list-item {
    display: inline-block;
    text-align: center;
    list-style: none;
    color: white;
    height: 41px;
    width: 150px;
    background: transparent;
    border: 1px solid white;
    border-radius: 3px;
    margin-left: 67px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    padding-top: 11px;
    text-decoration: none;
}

.popup-checkbox {
    display: none;
    width: 150px;
    height: 41px;
}

.a-header-button-submit {
    margin-right: 6px;
    border-radius: 3px;
    padding: 12px 50px 12px 50px;
    background: rgb(40, 90, 67);
    border: none;
    cursor: pointer;
    font-weight: 700;
    color: white;
    text-decoration: none;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.204);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-checkbox:checked + .popup {
    display: flex;
}

.popup-content {
    background-image: url(/arto-suraj-X7jtnqyn54M-unsplash\ 1.png);
    width: 1980px;
    height: 400px;
    position: relative;
    background-repeat: round;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#input-email {
    width: 475px;
    height: 48px;
    background-color: transparent;
    backdrop-filter: blur(5px);
    border: 1px solid white;
    border-radius: 5px;
    padding-left: 25px;
    color: white;
    margin-right: 25px;
}

.popup-content h2 {
    margin: 0 0 10px;
    color: white;
    font-size: 32px;
    font-weight: 600;
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 40px;
    color: #aaa;
    cursor: pointer;
}

.close-popup:hover {
    color: rgb(247, 31, 31);
}

.call-button {
    height: 41px;
    width: 150px;
    background: transparent;
    border: 1px solid white;
    border-radius: 3px;
    margin-left: 67px;
    cursor: pointer;
    font-weight: 700;
    color: white;
}

.popup-contact-checkbox {
    width: 150px;
    height: 41px;
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.204);
}

.contact-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.204);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.nav-contact {
    display: inline-block;
    text-align: center;
    list-style: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.contact-popup-content {
    background-color: whitesmoke;
    width: 50%;
    height: 30%;
    position: relative;
    background-repeat: round;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.contact-content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.info {
    font-size: 15px;
}

.contact-popup-content h2 {
    color: #869991;
    font-size: 35px;
    font-weight: 700;
}

.popup-contact-checkbox:checked ~ .contact-popup {
    display: flex;
}

a {
    text-decoration: none;
    color: inherit;
    background: none;
    outline: none;
}

@media (max-width: 1280px) {
    .a-nav-list-item {
        font-size: 16px;
    }

    .separated-a-nav-list-item {
        height: 35px;
        width: 140px;
        font-size: 15px;
        font-weight: 600;
    }

    .nav-contact {
        font-size: 16px;
    }

    .contact-popup-content h2 {
        font-size: 30px;
        font-weight: 700;
    }

    .info {
        font-size: 14px;
    }

    .popup-content {
        flex-direction: column;
    }
}

@media (max-width: 980px) {
    .separated-a-nav-list-item {
        height: 35px;
        width: 140px;
        font-size: 15px;
        font-weight: 600;
    }
}

@media (max-width: 880px) {
    .nav-list {
        gap: 30px;
    }

    .separated-a-nav-list-item {
        height: 35px;
        width: 130px;
        font-size: 14px;
        font-weight: 600;
    }

    .contact-content {
        flex-direction: column;
        height: auto;
        width: auto;
    }
    
    .contact-popup-content {
        width: 80%;
        height: 60%;
    }

    .contact-popup-content h2 {
        font-size: 50px;
        font-weight: 700;
        text-align: center;
    }

    .info {
        font-size: 18px;
        width: 100%;
    }
}

@media (max-width: 680px) {
    .nav-list {
        gap: 10px;
        white-space: nowrap;
    }

    .separated-a-nav-list-item {
        width: 100px;
        margin-left: 10px;
    }

    .contact-popup-content {
        width: 80%;
        height: 60%;
    }

    .contact-popup-content h2 {
        font-size: 50px;
        font-weight: 700;
        text-align: center;
    }

    .info {
        font-size: 20px;
    }

    .email-button {
        width: 100%;
    }

    .popup-content {
        white-space: nowrap;
    }

    #input-email {
        width: 65%;
    }
}

@media (max-width: 500px) {
    .nav-list {
        display: grid;
        grid-template-columns: auto auto;
        margin-right: 5%;
        white-space: nowrap;
    }

    .logo {
        height: 50px;
        width: 89px;
        padding: 2px;
    }

    .contact-popup-content {
        width: 80%;
        height: 60%;
    }

    .contact-popup-content h2 {
        font-size: 50px;
        font-weight: 700;
        text-align: center;
    }

    .info {
        font-size: 18px;
        width: 100%;
    }

    .email-button {
        flex-direction: column;
        width: 100%;
    }

    .popup-content h2 {
        font-size: 25px;
        font-weight: 600;
    }

    .nav-contact {
        font-size: 16px;
    }

    .a-header-button-submit {
        padding: 12px 30px 12px 30px;
    }
}

@media (max-width: 380px) {
    .popup-content h2 {
        font-size: 20px;
        font-weight: 600;
    }

    .nav-contact {
        font-size: 12px;
    }

    .a-nav-list-item {
        font-size: 12px;
    }

    .a-header-button-submit {
        padding: 12px 20px 12px 20px;
    }

    .contact-popup-content {
        width: 80%;
        height: 60%;
    }

    .contact-popup-content h2 {
        font-size: 35px;
        font-weight: 700;
        text-align: center;
    }

    .info {
        font-size: 16px;
    }
}