.div-w-d-t-s-a-u {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.h2-w-d-t-s-a-u {
    color: rgb(40, 90, 67);
}

.div-review {
    margin-top: 35px;
    display: flex;
    justify-content: center;
    gap: 70px;

}

.review-h3-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.review {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 360px;
    height: 329px;
    padding-left: 3%;
    background-color: #F8F8F8;
    border-radius: 10px;
    font-size: 16px;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.09);

}

.h3-review {
    color: #285A43;
}

.p-review {
    width: 243px;
    margin-bottom: 20%;
}